<a href="https://colab.research.google.com/github/hayat415/Batch-35-assignment-1-quater-2/blob/master/CarPrice_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
from google.colab import files
uploaded=files.upload()

Saving CarPrice_Assignment.csv to CarPrice_Assignment (2).csv

In [34]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam, SGD 
import seaborn as sns
import matplotlib.pyplot as plt

import io
data=pd.read_csv(io.BytesIO(uploaded["CarPrice_Assignment.csv"]))
data

     car_ID  symboling                   CarName  ... citympg highwaympg    price
0         1          3        alfa-romero giulia  ...      21         27  13495.0
1         2          3       alfa-romero stelvio  ...      21         27  16500.0
2         3          1  alfa-romero Quadrifoglio  ...      19         26  16500.0
3         4          2               audi 100 ls  ...      24         30  13950.0
4         5          2                audi 100ls  ...      18         22  17450.0
..      ...        ...                       ...  ...     ...        ...      ...
200     201         -1           volvo 145e (sw)  ...      23         28  16845.0
201     202         -1               volvo 144ea  ...      19         25  19045.0
202     203         -1               volvo 244dl  ...      18         23  21485.0
203     204         -1                 volvo 246  ...      26         27  22470.0
204     205         -1               volvo 264gl  ...      19         25  22625.0

[205 rows x 26 columns]

In [35]:
data.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [37]:
data.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [39]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
data['fueltype']=labelencoder.fit_transform(data['fueltype'])
data['aspiration']=labelencoder.fit_transform(data['aspiration'])
data['carbody']=labelencoder.fit_transform(data['carbody'])
data['drivewheel']=labelencoder.fit_transform(data['enginelocation'])

In [40]:
data['doornumber']=data['doornumber'].map({'two':2, 'four':4})

In [42]:
data

     car_ID  symboling                   CarName  ...  citympg  highwaympg    price
0         1          3        alfa-romero giulia  ...       21          27  13495.0
1         2          3       alfa-romero stelvio  ...       21          27  16500.0
2         3          1  alfa-romero Quadrifoglio  ...       19          26  16500.0
3         4          2               audi 100 ls  ...       24          30  13950.0
4         5          2                audi 100ls  ...       18          22  17450.0
..      ...        ...                       ...  ...      ...         ...      ...
200     201         -1           volvo 145e (sw)  ...       23          28  16845.0
201     202         -1               volvo 144ea  ...       19          25  19045.0
202     203         -1               volvo 244dl  ...       18          23  21485.0
203     204         -1                 volvo 246  ...       26          27  22470.0
204     205         -1               volvo 264gl  ...       19          25  22625.0

[205 rows x 26 columns]

In [45]:
data1=data[['horsepower','boreratio','enginesize','curbweight','carwidth','carlength','wheelbase','drivewheel','price','enginelocation']]

In [55]:
data1

     horsepower  boreratio  enginesize  ...  drivewheel    price  enginelocation
0           111       3.47         130  ...           0  13495.0           front
1           111       3.47         130  ...           0  16500.0           front
2           154       2.68         152  ...           0  16500.0           front
3           102       3.19         109  ...           0  13950.0           front
4           115       3.19         136  ...           0  17450.0           front
..          ...        ...         ...  ...         ...      ...             ...
200         114       3.78         141  ...           0  16845.0           front
201         160       3.78         141  ...           0  19045.0           front
202         134       3.58         173  ...           0  21485.0           front
203         106       3.01         145  ...           0  22470.0           front
204         114       3.78         141  ...           0  22625.0           front

[205 rows x 10 columns]

In [59]:
x=(data1.loc[:, data1.columns!='price'])
y=(data1.loc[:, data1.columns=='price'])
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=20, random_state=50)

In [66]:
y

       price
0    13495.0
1    16500.0
2    16500.0
3    13950.0
4    17450.0
..       ...
200  16845.0
201  19045.0
202  21485.0
203  22470.0
204  22625.0

[205 rows x 1 columns]